<nb-card>
    <nb-card-header>Company Profile</nb-card-header>
    <nb-card-body>
        <form [formGroup]="companyprofile">
          <h6 style="background-color:#2196f3;color: #f5f3f3;padding:10px;">Company Registered Address</h6>&nbsp;
          <div class="row">
              <div class="col-sm-2">
                <div class="form-group">
                    <nb-select style="padding: 0.25rem 0.125rem;" placeholder="Industry" [(selected)]="commonSelectedItem" outline status="success">
                        <nb-option value="1">Option 1</nb-option>
                        <nb-option value="2">Option 2</nb-option>
                        <nb-option value="3">Option 3</nb-option>
                        <nb-option value="4">Option 4</nb-option>
                      </nb-select>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                    <input style="padding: 0.25rem 0.125rem;" type="text" class="form-control" placeholder="Street1">
                </div>
          </div>
          <div class="col-sm-2">
              <div class="form-group">
                <input style="padding: 0.25rem 0.125rem;" type="text" class="form-control" placeholder="Street2">
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
        <div class="form-group">
          <input style="padding: 0.25rem 0.125rem;" type="text" class="form-control" placeholder="Landmark">
        </div>
      </div>
      <div class="col-sm-2">
          <div class="form-group">
              <nb-select placeholder="Country" [(selected)]="commonSelectedItem" outline status="success">
                  <nb-option value="1">Option 1</nb-option>
                  <nb-option value="2">Option 2</nb-option>
                  <nb-option value="3">Option 3</nb-option>
                  <nb-option value="4">Option 4</nb-option>
                </nb-select>
          </div>
          </div>
          <div class="col-sm-2">
              <nb-select placeholder="State" [(selected)]="commonSelectedItem" outline status="success">
                  <nb-option value="1">Option 1</nb-option>
                  <nb-option value="2">Option 2</nb-option>
                  <nb-option value="3">Option 3</nb-option>
                  <nb-option value="4">Option 4</nb-option>
                </nb-select>
          </div>
    </div>
        <div class="row">
           <div class="col-sm-2">
          <div class="form-group">
              <nb-select placeholder="City" [(selected)]="commonSelectedItem" outline status="success">
                  <nb-option value="1">Option 1</nb-option>
                  <nb-option value="2">Option 2</nb-option>
                  <nb-option value="3">Option 3</nb-option>
                  <nb-option value="4">Option 4</nb-option>
                </nb-select>
          </div>
          </div>
          <div class="col-sm-2">
              <div class="form-group">
                <input style="padding: 0.25rem 0.125rem;" type="text" class="form-control" placeholder="Pin">
              </div>
            </div>
    </div>
    <h6 style="background-color:#2196f3;color: #f5f3f3;padding:10px;">Business Detail</h6>&nbsp;
    <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
              <input style="padding: 0.25rem 0.125rem;" type="text" class="form-control" placeholder="Company Name">
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
              <input style="padding: 0.25rem 0.125rem;" type="text" class="form-control" placeholder="Contact Person">
          </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
          <input style="padding: 0.25rem 0.125rem;" type="text" class="form-control" placeholder="GSTN">
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-2">
        <div class="form-group">
            <input style="padding: 0.25rem 0.125rem;" type="text" class="form-control" placeholder="PAN">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
            <input style="padding: 0.25rem 0.125rem;" type="text" class="form-control" placeholder="CIN">
        </div>
  </div>
  <div class="col-sm-2">
      <div class="form-group">
        <input style="padding: 0.25rem 0.125rem;" type="text" class="form-control" placeholder="Email">
      </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
      <div class="form-group">
          <input style="padding: 0.25rem 0.125rem;" type="text" class="form-control" placeholder="Contact Number">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
          <input style="padding: 0.25rem 0.125rem;" type="text" class="form-control" placeholder="Office Number">
      </div>
</div>
<div class="col-sm-2">
    <div class="form-group">
      <input style="padding: 0.25rem 0.125rem;" type="text" class="form-control" placeholder="Website">
    </div>
  </div>
</div>
</form>     
    </nb-card-body>
    <nb-card-footer style="float:right;">
      <button style="background-color:#2196f3;"nbButton >Submit</button>&nbsp;
      <button nbButton status="danger" (click)="cancel()">Cancel</button>
    </nb-card-footer>
  </nb-card>
  